.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-position: 0 0;
}

.grid-overlay-popup {
  display: none;

  position: absolute;
  font-size: 0.8rem;
}

.grid-overlay-popup-active {
  display: block;
}

.grid-overlay-popup-highlight {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
}

.grid-overlay-popup-content {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 120px;

  padding: 3px;

  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.level-bounds {
  background: #eee;
  position: absolute;
  left: 0;
  top: 0;
}
